// Практика 1: SCSS (SASS) — карточка товара
// Требования: переменные (>=2), миксин (>=1), вложенность селекторов.

$color-primary: #3a3939;
$color-bg: #fbfbfb;
$color-surface: #f5f5f5;
$color-text: #0b0b0b;
$radius: 14px;
$gap: 14px;

$color-description: #3f3f3f;           //цвет для описания товара 
$hover-scale: 1.02;              // НОВОЕ: масштаб при наведении
$shadow-color: rgba(51, 50, 50, 0.3); // НОВОЕ: тень под цвет товара

// Миксин (аналог функции): задаём базовый вид кнопки.
// Параметр $bg позволяет переиспользовать миксин для разных кнопок.
@mixin button($bg) {
  display: inline-block;
  padding: 10px 14px;
  border-radius: 10px;
  background: $bg;
  color: rgb(247, 247, 247);
  text-decoration: none;
  font-weight: 600;
  line-height: 1;
}

@mixin card-hover {
  transition: all 0.3s ease;
  &:hover {
    transform: scale($hover-scale);
    box-shadow: 0 10px 20px $shadow-color;
  }
}

* { box-sizing: border-box; }
body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  background: $color-bg;
  color: $color-text;
}

.page {
  max-width: 980px;
  margin: 40px auto;
  padding: 0 16px;
  display: grid;
  gap: 22px;
}

// Вложенность: описываем элементы карточки внутри .product-card
.product-card {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: $gap;
  background: $color-surface;
  border-radius: $radius;
  padding: 18px;

  @include card-hover; 

  &--accent {
    border: 2px solid $color-primary;
  }

  &__image {
    border-radius: $radius;
    min-height: 160px;
    overflow: hidden;  // НОВОЕ: чтобы изображение не вылезало за скругленные углы
        img {
      width: 100%;
      height: 100%;
      object-fit: cover;  // Чтобы фото красиво заполняло контейнер
      display: block;
    }
  }

  &__content {
    display: grid;
    gap: 10px;
    align-content: start;
  }

  &__title {
    margin: 0;
    font-size: 22px;
  }

  &__desc {
    margin: 0;
    opacity: 0.85;
    line-height: 1.4;
    color: $color-description
  }

  &__footer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }

  &__price {
    font-size: 20px;
    font-weight: 700;
  }
}

.btn {
  // Подключаем миксин и передаём цвет фона
  @include button($color-primary);
  
  &:hover {
    filter: brightness(1.1);
    transform: translateY(-2px);
  }
}

.note {
  background: #151515;
  border-radius: $radius;
  padding: 16px;

  &__title { margin: 0 0 10px; font-size: 18px; }
  &__list { margin: 0; padding-left: 18px; opacity: 0.9; }
}
